<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>My bookings</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/home" class="navbar-brand mx-2">Home</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">Users</a>
            </li> -->
          </ul>
        </div>
      </nav>
    <div class="container my-2">
      <table class="table text-center table-striped">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Student</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Date</th>
            <th>Status</th>
            <th>Payment</th>
            <th>Confirmation</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% for (const [sn, row] of data.entries()){ %>
            <tr>
              <td><%=sn+1%></td>
              <td><%=row.STUDENT_NAME%></td>
              <td><%=row.SUBJECT%></td>
              <td><%=row.TYPE%></td>
              <td><%=row.TIME%></td>
              <td><%=row.STATUS%></td>
              <td><%=row.PAYMENT?row.PAYMENT:`Not Paid`%></td>
              <td>
                <% if(row.STATUS==='pending-instructor') {%>
                  <a href=<%=`/bookings/instructor/accept${row.BOOKING_ID}`%> class="btn btn-success">Accept</a>
                  <a href=<%=`/bookings/instructor/cancel${row.BOOKING_ID}`%> class="btn btn-danger">Reject</a>
                <% }else {%>
                  Confirmed
                <% } %>                 
              </td>
            </tr>
            <% } %>  
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
